# Azure DevOps Pipeline for Word Frequency Analyzer
# This pipeline builds the Java project, runs tests, and publishes analysis results

trigger:
  - main
  - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  MAVEN_CACHE_FOLDER: $(Pipeline.Workspace)/.m2/repository
  MAVEN_OPTS: '-Dmaven.repo.local=$(MAVEN_CACHE_FOLDER)'

stages:
- stage: Build
  displayName: 'Build and Test'
  jobs:
  - job: Build
    steps:
    - task: Maven@3
      inputs:
        mavenPomFile: 'pom.xml'
        mavenOptions: '-Xmx3072m $(MAVEN_OPTS)'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '1.17'
        jdkArchitectureOption: 'x64'
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
        goals: 'clean package'
    
    - task: PublishTestResults@2
      inputs:
        testResultsFormat: 'JUnit'
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
        failTaskOnFailedTests: true

- stage: Analyze
  displayName: 'Run Analysis'
  dependsOn: Build
  condition: succeeded()
  jobs:
  - job: Analyze
    steps:
    - download: none  # Don't download artifacts from previous jobs
    
    - task: Maven@3
      inputs:
        mavenPomFile: 'pom.xml'
        mavenOptions: '-Xmx3072m $(MAVEN_OPTS)'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '1.17'
        jdkArchitectureOption: 'x64'
        goals: 'clean package'
    
    - script: |
        mkdir -p $(Build.ArtifactStagingDirectory)/analysis
        java -jar target/SoftwareQualityAssuranceSE-1.0-SNAPSHOT-jar-with-dependencies.jar sample.txt $(Build.ArtifactStagingDirectory)/analysis
      displayName: 'Run Word Frequency Analysis'
    
    - task: PublishBuildArtifacts@1
      inputs:
        pathtoPublish: '$(Build.ArtifactStagingDirectory)/analysis'
        artifactName: 'analysis-results'
